body {
  display: flex;
  justify-content: center;
  background-color: #312e2b;
  color: #979694;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 600;
}

#boardDisplay {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20px 80px 80px 80px 80px 80px 80px 80px 80px 20px;
  grid-template-rows: 20px 80px 80px 80px 80px 80px 80px 80px 80px 20px;
}

#boardMap {
  position: absolute;
  width: 680px;
  height: 680px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wspace {
  background: #eeeed2;
}

.bspace {
  background: #769656;
}

.highlight {
  background: #baca44;
}

.piece {
  height: 70px;
  width: 70px;
}
