body {
  display: flex;
  justify-content: center;
  background-color: #312e2b;
  color: #979694;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 600;
}

#boardDisplay {
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-columns: 2vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 2vw;
  grid-template-rows: 2vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 2vw;
  position: relative;
}

#controls {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
  justify-content: space-around;
}

.button {
  margin-top: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.button:hover {
  background-color: white;
}

.piece {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition-duration: .5s;

}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wspace {
  background: #eeeed2;
}

.bspace {
  background: #769656;
}

.highlight {
  background: #baca44;
}

.piece {
  height: 8.5vw;
  width: 8.5vw;
}
